

</body>

    <script>
        var myParagraph = document.getElementById("myParagraph");
        myParagraph.style.maxWidth = "300px";
        myParagraph.style.margin = "0 auto";
    </script>
</html>
